{% extends "layout.html" %}

{% block title %} About {% endblock %}

{% block content %}

    <h4 id="about" class="mt-5 pt-5">BIO .</h4>
    <!-- <img src="static/images/me.JPG" class="img-fluid float-start" alt="Profile pic"> -->
    <h5 id="about2" class="mt-5 mb-5">A British born software developer based in London<br>specialising in Python with a passion for inclusivity in tech.
    <br>I believe a more diverse industry produces better products.<br>I develop and create with <i>all</i> people in mind with
    one of my goals<br>being changing the landscape of the industry<br>to incorporate the needs and wants of <i>all</i>.</h5>

{% endblock %}