{% extends "layout.html" %}

{% block title %} Homepage {% endblock %}

{% block content %}

        <div id="welcome">
            <span id="w">W</span>
            <span id="e">e</span>
            <span id="l">l</span>
            <span id="c">c</span>
            <span id="o">o</span>
            <span id="m">m</span>
            <span id="e2">e</span>
    </div>
    <div><a href="https://www.linkedin.com/in/marcus-parker-67a9211bb/"><img src="static/images/linkedin2.png" alt="LinkedIn" id="linkedin"></a></div>

{% endblock %}