{% extends "public/templates/public_template.html" %}

{% block title %}{{ title }}{% endblock %}

{% block main %}
<section class="showcase_2 bg-light pt-105 pb-90 text-center">
    <div class="container px-xl-0">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-10">
                <h2 class="small" data-aos-duration="600" data-aos="fade-down" data-aos-delay="0">Projects.</h2>
                <div class="mt-15 mb-25 f-22 color-heading text-adaptive" data-aos-duration="600" data-aos="fade-down"
                    data-aos-delay="300">
                    The most important part of the Startup Framework is the samples. The
                    samples form a set of 20 usable pages you can use as is or you can
                    add new blocks from UI Kit.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6" data-aos-duration="600" data-aos="fade-down" data-aos-delay="0">
                <a href="#" class="mt-50 link color-main">
                    <img srcset="{{ url_for('static', filename='i/showcase_2_img_1@2x.jpg') }} 2x"
                        src="{{ url_for('static', filename='i/showcase_2_img_1.jpg') }}" class="radius10 img-fluid"
                        alt="" />
                    <div class="mt-20 mb-15 f-22 title">In the Sky</div>
                    <div class="color-heading f-14 semibold text-uppercase sp-20">{{ name }}</div>
                </a>
            </div>
            <div class="col-md-4 col-sm-6" data-aos-duration="600" data-aos="fade-down" data-aos-delay="300">
                <a href="#" class="mt-50 link color-main">
                    <img srcset="{{ url_for('static', filename='i/showcase_2_img_2@2x.jpg') }} 2x"
                        src="{{ url_for('static', filename='i/showcase_2_img_2.jpg') }}" class="radius10 img-fluid"
                        alt="" />
                    <div class="mt-20 mb-15 f-22 title">Grand Canyon</div>
                    <div class="color-heading f-14 semibold text-uppercase sp-20">{{ name }}</div>
                </a>
            </div>
            <div class="col-md-4 col-sm-6" data-aos-duration="600" data-aos="fade-down" data-aos-delay="600">
                <a href="#" class="mt-50 link color-main">
                    <img srcset="{{ url_for('static', filename='i/showcase_2_img_3@2x.jpg') }} 2x"
                        src="{{ url_for('static', filename='i/showcase_2_img_3.jpg') }}" class="radius10 img-fluid"
                        alt="" />
                    <div class="mt-20 mb-15 f-22 title">Man from the South</div>
                    <div class="color-heading f-14 semibold text-uppercase sp-20">{{ name }}</div>
                </a>
            </div>
            <div class="col-md-4 col-sm-6" data-aos-duration="600" data-aos="fade-down" data-aos-delay="0">
                <a href="#" class="mt-50 link color-main">
                    <img srcset="{{ url_for('static', filename='i/showcase_2_img_4@2x.jpg') }} 2x"
                        src="{{ url_for('static', filename='i/showcase_2_img_4.jpg') }}" class="radius10 img-fluid"
                        alt="" />
                    <div class="mt-20 mb-15 f-22 title">It's just a Cigarette</div>
                    <div class="color-heading f-14 semibold text-uppercase sp-20">{{ name }}</div>
                </a>
            </div>
            <div class="col-md-4 col-sm-6" data-aos-duration="600" data-aos="fade-down" data-aos-delay="300">
                <a href="#" class="mt-50 link color-main">
                    <img srcset="{{ url_for('static', filename='i/showcase_2_img_5@2x.jpg') }} 2x"
                        src="{{ url_for('static', filename='i/showcase_2_img_5.jpg') }}" class="radius10 img-fluid"
                        alt="" />
                    <div class="mt-20 mb-15 f-22 title">Mountains</div>
                    <div class="color-heading f-14 semibold text-uppercase sp-20">{{ name }}</div>
                </a>
            </div>
            <div class="col-md-4 col-sm-6" data-aos-duration="600" data-aos="fade-down" data-aos-delay="600">
                <a href="#" class="mt-50 link color-main">
                    <img srcset="{{ url_for('static', filename='i/showcase_2_img_6@2x.jpg') }} 2x"
                        src="{{ url_for('static', filename='i/showcase_2_img_6.jpg') }}" class="radius10 img-fluid"
                        alt="" />
                    <div class="mt-20 mb-15 f-22 title">Trip to Dream</div>
                    <div class="color-heading f-14 semibold text-uppercase sp-20">{{ name }}</div>
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}